.small-bg {
  background-image: url('../../../assets/orgselect/Bottom_NoScreen.svg');
}

.large-bg {
  background-image: url('../../../assets/orgselect/Bottom.svg');
}

.top-small {
  background-image: url('../../../assets/orgselect/Top_NoScreen.svg');
}

.top-large {
  background-image: url('../../../assets/orgselect/Top.svg');
}

.top{
  background-image: url('../../../assets/orgselect/Top.png');
}