@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Coustard:wght@400;900&family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

:root {
    background-image: radial-gradient(circle, #f87da4, #ff2955);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-header-shadow {
    text-shadow: 3px 2px 0px #451F4D;
}

.dark-bg {
    background-color: rgba(30, 30, 30, 0.5);
}

.text-outline {
    text-shadow: -5px -5px #451F4D, 5px -5px #451F4D, -5px 5px #451F4D, 5px 5px #451F4D;
    
}


@media (min-width: 768px) {
    .text-outline-champion {
        text-shadow: -2px -2px #FFD524, 2px -2px #FFD524, -2px 2px #FFD524, 2px 2px #FFD524;
    }

    .text-outline-leaderboard{
        text-shadow: -2px -2px #451F4D, 2px -2px #451F4D, -2px 2px #451F4D, 2px 2px #451F4D;
    }

    .text-outline{
        text-shadow: -2px -2px #451F4D, 2px -2px #451F4D, -2px 2px #451F4D, 2px 2px #451F4D;
    }
}


@media (max-width: 768px) {
    .text-outline{
        text-shadow: -2px -2px #451F4D, 2px -2px #451F4D, -2px 2px #451F4D, 2px 2px #451F4D;
    }

    .text-outline-leaderboard{
        text-shadow: -2px -2px #451F4D, 2px -2px #451F4D, -2px 2px #451F4D, 2px 2px #451F4D;
    }
}